@charset "utf-8";
/* CSS Document */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td, input, textarea, hr, img, label, span,select,strong,b{margin:0px;padding:0px;}
fieldset,img,abbr,acronym{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
q:before,q:after{content:'';}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
caption, th, td{text-align:left;font-weight:normal;}
a,img,button{border:none;text-decoration:none;}
a,button{text-decoration:none;}
a,img{border:none;outline:none;}
a{color:#333;text-decoration:none;outline:none;}
ul,ol{list-style:none;}
table{word-break:break-all;word-wrap:break-word;}
body{font-family:'Microsoft YaHei',Arial, Lucida Grande, Lucida Sans Unicode, Verdana, sans-serif;font-size:12px;font-weight:normal;color:#000;width:100%;background:#fff;}
@font-face {
  font-family: 'iconfontyyy';  /* project id 359929 */
  src: url('http://at.alicdn.com/t/font_359929_ngpjcoazzt8iwwmi.eot');
  src: url('http://at.alicdn.com/t/font_359929_ngpjcoazzt8iwwmi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_359929_ngpjcoazzt8iwwmi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_359929_ngpjcoazzt8iwwmi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_359929_ngpjcoazzt8iwwmi.svg#iconfont') format('svg');
}
@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

li {
	list-style: none;
}

a {
	color: #464646;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #39aab1;
	text-decoration: none;
	outline: none;
}

#head-wrapper {
	width: 100%;
	border-bottom: 2px solid #15b4e2;
	padding-bottom: 20px;
}

#head-wrapper #top {
	height: 33px;
	line-height: 33px;
	background-color: #f9f9f9;
}

#head-wrapper #top .top_content {
	width: 1000px;
	margin: 0 auto;
}

#head-wrapper #top .top_content .bar_ul {
	float: right;
}

#head-wrapper #top .top_content .bar_ul li {
	float: left;
	margin-left: 10px;
}

#head-wrapper #logo_bar {
	width: 1000px;
	margin: 0 auto;
	height: 100px;
	position: relative;
}

#head-wrapper #logo_bar span {
	position: absolute;
	bottom: 0;
	left: 45px;
}

#head-wrapper #logo_bar .logo {
	width: 300px;
	height: 80px;
	padding-top: 10px;
	float: left;
}

#head-wrapper #logo_bar .logo img {
	width: 80%;
	height: auto;
}

#head-wrapper #logo_bar .search {
	margin-top: 30px;
	position: absolute;
	top: 0;
	right: 240px;
}

#head-wrapper #logo_bar .search form {
	width: 450px;
	height: 36px;
}

#head-wrapper #logo_bar .search form .key {
	width: 362px;
	height: 34px;
	padding-left: 5px;
	font-size: 15px;
	color: #666;
	border: 2px solid #21bbd2;
	position: absolute;
	top: 0;
	left: 0;
}

#head-wrapper #logo_bar .search form .btn {
	width: 75px;
	height: 38px;
	background: #46b3b4;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	font-family: 微软雅黑;
	position: absolute;
	top: -2px;
	right: 8px;
}

#head-wrapper #logo_bar .search .hot a {
	color: rgba(0, 0, 0, 0.49);
	margin-right: 5px;
}

#head-wrapper #logo_bar .search .hot a:hover {
	color: #39aab1;
	text-decoration: underline;
	margin-right: 5px;
}

#head-wrapper #logo_bar .pic {
	width: 225px;
	height: 100px;
	border: 1px solid #ccc;
	position: absolute;
	top: 10px;
	right: 0;
}

#head-wrapper #login {
	display: none;
	position: fixed;
	background: #fff;
	z-index: 100000;
	width: 380px;
	padding-bottom: 30px;
	left: 50%;
	top: 50%;
	margin: -218px 0 0 -180px;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

#head-wrapper #login .l-header {
	position: relative;
	padding: 0 20px;
	border-bottom: 1px solid #ccc;
}

#head-wrapper #login .l-header h1 {
	font-size: 21px;
	line-height: 70px;
	height: 60px;
}

#head-wrapper #login .l-header h1 span {
	color: #929292;
	margin-right: 10px;
	cursor: pointer;
}

#head-wrapper #login .l-header h1 .active {
	color: #03A9F4;
}

#head-wrapper #login .l-header .close {
	position: absolute;
	top: 18px;
	right: 20px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	color: #0056F1;
}

#head-wrapper #login .l-body .hide {
	display: none;
}

#head-wrapper #login .l-body form {
	width: 100%;
}

#head-wrapper #login .l-body form .form-group {
	position: relative;
	top: 0;
	left: 0;
	margin: 20px auto;
	padding-left: 40px;
}

#head-wrapper #login .l-body form .form-group div .help-block {
	height: 20px;
	color: #F50808;
	margin: 0;
}

#head-wrapper #login .l-body form .form-group .btn {
	width: 100%;
	margin-top: 20px;
	background-color: #3ACBDD;
}

#head-wrapper #login .l-body form .form-group span {
	float: left;
	margin-top: 5px;
	color: #39aab1;
}

#head-wrapper #login .l-body form .form-group a {
	float: right;
	margin-top: 5px;
	color: #39aab1;
}

#head-wrapper #login .l-body form .form-group a:hover {
	text-decoration: underline;
}
#content-wrapper{
    margin-top: 20px;
    width: 100% !important;
    margin: 0 auto !important;
    overflow: hidden;
}
#footer-wrapper {
	width: 100%;
	clear: both;
	background: #fafafa;
	border-top: 1px solid #f0f0f0;
	margin-top: 20px;
	position: relative;
	bottom: 0;
}

#footer-wrapper .wrap {
	width: 1200px;
	margin: 0 auto;
}

#footer-wrapper .wrap .yl-helper {
	padding: 30px 0;
	overflow: hidden;
}

#footer-wrapper .wrap .yl-helper .unit {
	float: left;
	width: 25%;
	border-right: 1px solid #eee;
	margin-right: -1px;
}

#footer-wrapper .wrap .yl-helper .unit .unit-wrap {
	padding: 0 25px;
	overflow: hidden;
}

#footer-wrapper .wrap .yl-helper .unit .unit-wrap h4 {
	margin-bottom: 5px;
	color: #3e3e3f;
	font-weight: 700;
	font-size: 14px;
}

#footer-wrapper .wrap .yl-helper .unit .unit-wrap li {
	float: left;
	width: 50%;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
}

#footer-wrapper .wrap .web-link {
	border-top: 2px solid #ebebeb;
	padding: 14px 0 9px;
	overflow: hidden;
}

#footer-wrapper .wrap .web-link .web-link-l {
	float: left;
	width: 60px;
	color: #333;
	line-height: 22px;
}

#footer-wrapper .wrap .web-link .web-link-r {
	float: left;
	overflow: hidden;
	width: 1120px;
	line-height: 22px;
}

#footer-wrapper .wrap .web-link .web-link-r a {
	padding-right: 4px;
}

#footer-wrapper .wrap {
	width: 1200px;
	margin: 0 auto;
}

#footer-wrapper .wrap .footer-hd {
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px dashed #aaa;
	padding: 10px 0;
	overflow: hidden;
}

#footer-wrapper .wrap .footer-fd {
	width: 950px;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 20px;
}

#footer-wrapper .wrap .footer-fd .footer-fd-c {
	float: left;
	text-align: center;
	width: 690px;
}

#footer-wrapper .wrap .footer-fd .footer-fd-c .helpMore {
	clear: both;
	color: #666;
}

#return-top {
	width: 60px;
	height: 60px;
	position: fixed;
	right: 0px;
	bottom: 170px;
}

#return-top .block {
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	position: relative;
	border: 1px solid #DFDFDF;
	border-radius: 3px;
	cursor: pointer;
}

#return-top .block span {
	display: block;
	position: absolute;
	bottom: -18px;
	left: 6px;
	color: #6A6A6A;
}

#return-top .block i {
	position: absolute;
	top: -8px;
	left: 17px;
	color: #00BCD4;
}

#return-top .wechat-pic {
	width: 100px;
	height: 100px;
	display: none;
	position: absolute;
	top: 0px;
	left: -100px;
	background-image: url(../img/wechat.jpg);
	border: 1px solid #ccc;
}

#return-top .wechat {
	position: relative;
}

.iconfontyyy{
    font-family:"iconfontyyy" !important;
    font-size:28px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.price_d{
		color: #DA0000 !important;
		font-weight: bold;
		font-size: 15px;
}
.price_m{
		text-decoration: line-through;
	    color: #9c9c9c !important;
	    margin-left: 5px;
}
    
/*清除浮动*/
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.clearfix{display:inline-table;}
* html .clearfix{height:1%;}
.clearfix{display:block;}
.ma{margin-left:auto;margin-right:auto;}
.w980{width:980px;}
.mt10{margin-top:10px;}

/*旅游产品分类*/
.product_sort{width:226px;background:#fff url(../img/img_226x95.jpg) no-repeat left bottom;border:solid 1px #3299fd;position:relative; z-index:90;padding-bottom: 100px;float: left;max-height: 890px;}
.product_sort .hd{width:226px;background:url(../img/3.jpg) no-repeat;height:40px;line-height:40px;text-indent:15px;font-size:15px;font-weight:bold;font-family:"微软雅黑";color:#fff;}
.product_sort .bd{padding-bottom:10px;}
.product_sort .bd .item{border-bottom:solid 1px #3299fd;position:relative;}
.product_sort .bd .item .title{width:226px;text-indent:43px;height:30px;overflow:hidden;line-height:41px;font-size:14px;font-weight:bold;color:#292929;}
.product_sort .bd .item .title a{color:#16BCB4;position:relative;}
.product_sort .bd .item .title a i{position:absolute;background:url(../img/icon_nav.jpg) no-repeat;}
.product_sort .bd .item .one a i{width:19px;height:19px;background-position:0 0;left:-25px;top:-3px;}
.product_sort .bd .item .two a i{width:22px;height:20px;background-position:0 -51px;left:-28px;top:-5px;}
.product_sort .bd .item .three a i{width:31px;height:23px;background-position:0 -101px;left:-34px;top:-7px;}
.product_sort .bd .item .four a i{width:25px;height:17px;background-position:0 -156px;left:-29px;top:-3px;}
.product_sort .bd .item .five a i{width:28px;height:17px;background-position:0 -207px;left:-33px;top:-1px;}
.product_sort .bd .item .six a i{width:28px;height:17px;background-position:0 -259px;left:-32px;top:-3px;}
.product_sort .bd .item .seven a i{width:26px;height:20px;background-position:0 -309px;left:-31px;top:-6px;}
.product_sort .bd .item .eight a i{width:26px;height:21px;background-position:0 -360px;left:-32px;top:-7px;}
.product_sort .bd .item .list{width:210px;padding-left:15px;line-height:25px;}
.product_sort .bd .item .list a{font-family:"Microsoft YaHei",Arial,sans-serif;color:#696969;background: url(../img/sidemenu_bg1.png) right center no-repeat;padding-right: 5px}
.product_sort .bd .item .list a:hover{text-decoration:underline;}
.product_sort .bd .item .arrow{font-family:"Microsoft YaHei",Arial,sans-serif;font-size:20px; color:#c0d7f9;position:absolute;right:10px;top:5px;}
.product_sort .bd .item .line{position:absolute;right:-2px;top:0px;width:2px;height:60px;background-color:#fff;z-index:95;display:none;}
.product_sort .bd .item .subitem{display:none;}
.product_sort .bd .layer .line{display:block;}
.product_sort .bd .layer .arrow{display:none;}
.product_sort .bd .layer .subitem{width:731px;background:#fff;border:solid 1px #3299fd;border-left:none;font-family:"Microsoft YaHei",Arial,sans-serif;position:absolute;left:227px;_left:228px;top:-15px;z-index:95;min-height:60px;height:auto!important;height:60px;padding:5px 10px 15px 10px;display:block;}
.product_sort .bd .layer .subitem .inner .tit{font-size:12px; text-align:left; border-top:1px dashed #d7d7d7;padding:5px 0;}
.product_sort .bd .layer .subitem .inner .tit1{border-top:none;}
.product_sort .bd .layer .subitem .inner .tit .name{display:block;width:90px;color:#3299fd;cursor:pointer;float:left;padding-top:3px;}
.product_sort .bd .layer .subitem .inner ul{overflow:hidden;zoom:1;display:block;margin-left:90px;width:630px;}
.product_sort .bd .layer .subitem .inner ul li{float:left;padding:0 8px;height:25px;}
.product_sort .bd .layer .subitem .inner ul li a{color:#222;display:block;}
.product_sort .bd .layer .subitem .inner ul li a:hover{color:#3299fd;text-decoration:underline;}